<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="dark:bg-gray-900">
    <!-- ... -->
    <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8 mt-10">
        <form action="/login" method="post">
            <input type="password" name="password" placeholder="Enter your password" />
            <input type="submit" value="Login" />
        </form>
    </div>
</body>

</html>
