<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.7/tailwind.min.css">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="dark:bg-gray-900">
  <nav class="bg-gray-800">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <div class="flex-shrink-0">
          <a href="#" class="font-bold text-white">{{ title }}</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8 mt-10">
    <p class="mt-4 text-center text-3xl mb-4 text-gray-900 dark:text-white">
      {{ text }}
    </p>
    <p class="text-md text-gray-900 dark:text-white mx-auto py-4">Message Date: {{ date }}</p>
    <a href="{{ redirect }}"
      class="mx-auto bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full block mx-auto mt-10 w-1/4 text-center">Continue</a>
  </div>
</body>

</html>
